<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=600, initial-scale=1.0">

{% load static %}
<!-- {% load db_extras %} -->

<link rel="stylesheet" href="{% static 'db.css' %}">

<title>Philosophistry</title>

</head>

<!-- {% current_time "%Y-%m-%d %I:%M %p" %} -->

<div class="site-title"><a href="{% url 'index' %}">Notes</a> by <a href='https://philipkd.com/'>Philip Dhingra</a></div>

<div class="entry">

